/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    color: white;
}

/* Section */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-bg {
    background-color: hsl(217, 54%, 11%);
}

/* NFT card container */

.nft-card-container {
    width: 360px;
    height: 620px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    box-shadow: 20px 20px 5px hsla(217, 54%, 5%, 0.232) , -20px 20px 5px hsla(217, 54%, 5%, 0.232);;
}

/* Image */

.nft-card-image {
    width: 100%;
    height: 53%;
    overflow: hidden;
    border-radius: 8px;
}

.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Text content */

.nft-card-content {
    width: 100%;
    height: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nft-card-content h1 {
    font-weight: 400;
}

.nft-card-content p, .clock-icon {
    color: hsl(215, 51%, 70%);
}

.nft-description {
    font-size: 18px;
    font-weight: 300;
}

/* Price and duration */

.nft-price-and-duration {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.font-bold {
    font-weight: 600;
}

.price-color, .eth-icon {
    color: hsl(178, 100%, 50%);
}

.eth-icon, .clock-icon {
    margin-right: 4px;
}

/* Creator */

.horizontal-line {
    height: 0.5px;
    background-color: hsl(215, 32%, 27%);
}

.nft-creator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.nft-creator-avatar {
    height: 36px;
    border: 1px solid white;
    border-radius: 50%;
}

.nft-creator-container p {
    font-weight: 300;
}
